body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
    list-style: none;
}
.contenedor {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.canvas {
    grid-row: 1;
    grid-column: 1;
    background-color: white;
}
.barra {
    grid-row: 1;
    grid-column: 2;
}