body { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
h2 {
    color: white;
    margin: 0;
}
li {
    list-style: none;
}
canvas {
    background-color: white;
}
nav{
    background-color: rgb(148, 146, 253);
    padding: 5px;
}
ul{
    display: flex;
    padding: 0;
    margin: 0;
}
nav.boton {
    display: inline-block;
}
input[type="file"] {
    display: none;
}
input[type="color"] {
    display: none;
}
footer{
    background-color: rgb(148, 146, 253);
    justify-content: space-evenly;
    text-align: center;
    padding: 5px;
}
p{
    margin: 0;
    color: white;
    text-align: center;
}
/*Estilo contendores de la página en general*/
.contenedor {
    background-color: rgb(181, 180, 250);
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.canvas {
    grid-row: 1;
    grid-column: 2;
}
.barra {
    grid-row: 1;
    grid-column: 1;
    width: 400px;
    padding: 5px;
}
/*Estilo paleta de colores*/
.colores {
    display: inline-block;
}
.btnL {
    height: 40px;
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    margin: 2px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
}
.btnColores {
    height: 40px;
    width: 80px;
    cursor: pointer;
    margin: 2px;
    display: inline-block;
    box-sizing: border-box;
}
#btnRojo { background-color: red; }
#btnVerde { background-color: green; }
#btnAzul { background-color: blue; }
#btnAmarillo { background-color: yellow; }
#btnNaranja { background-color: orangered; }
#btnNegro { background-color: black; }
/*Estilo de los botones de filtros y demás*/
.boton {
    margin: 3px;
    background-color: rgb(245, 179, 88);
    color: white;
    border-radius: 5px;
    border: 1px grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.boton.btnFiltros{
    padding: 5px;
}
.boton:hover {
    background-color: rgb(240, 199, 143);
    color: black;
}
.filaFiltro{
    padding: 0px 20px;
}
/*Posición de los botones de los filtros*/
.titulo {
    text-align: center;
}
.contenedorFiltros {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.contenedorTitulo{
    background-color: rgb(253, 202, 130);
    margin: 0px;
    border-radius: 3px;
}