@keyframes scroll {
    0% { background-position: 0px;}
    100% { background-position: -1400px;}
}

.fondos {
    width: 1400px;
    height: 700px;
    background-color: black;
    z-index: 0;
}

.fondoEstatico {
    width: 1400px;
    height: 700px;
    position: absolute; 
    background: url("../img/fondo/fondo.png");
}

.fondo{
    width: 1400px;
    height: 700px;
    position: absolute; 
    top: 0;
    left: 0;
    background-size:cover;
}

.fondo1 {
    background: url("../img/fondo/fondo_piso.png");
    background-size: cover;
    animation: scroll 7s infinite linear;
    z-index: 0;
}

.fondo2 {
    background: url("../img/fondo/fondo_yuyos.png");
    background-size: cover;
    animation: scroll 7s infinite linear;
    z-index: -8;
}

.fondo3 {
    background: url("../img/fondo/fondo_arbol01.png");
    background-size: cover;
    animation: scroll 25s infinite linear;
    z-index: -10;
}

.fondo4 {
    background: url("../img/fondo/fondo_arbol02.png");
    background-size: cover;
    animation: scroll 25s infinite linear;
    z-index: -12;
}

.fondo5 {
    background: url("../img/fondo/fondo_arbol03.png");
    background-size: cover;
    animation: scroll 25s infinite linear;
    z-index: -15;
}

.fondo6 {
    background: url("../img/fondo/fondo_estrellas.png");
    background-size: cover;
    z-index: -18;
}

.fondo7 {
    background: url("../img/fondo/fondo_luna.png");
    background-size: cover;
    z-index: -20;
}
#juego{
    margin: 0;
    width: 1400px;
    height: 700px;
}

.lapida {
    width:50px;
    height:63px;
    margin:0;  
    position:absolute;
    top: 460px;
    background: url(../img/lapida.png) repeat-x;
    animation: move 7s infinite linear;
}

.raven {
    width:82px;
    height:74px;
    margin:0;  
    position:absolute;
    top: 380px;
    background: url(../img/raven.png) repeat-x;
    animation: fly 1s steps(4) infinite, move 7s infinite linear; 
}

.huesito {
    width: 40px;
    height: 38px;
    margin:0;  
    position:absolute;
    top: 450px;
    background: url(../img/huesitoSmaller.png);
    animation:move 5s infinite linear;
}

.huesitoObtenido {
    width: 40px;
    height: 38px;
    margin:0;  
    position:absolute;
    top: 450px;
    left: 150px;
    background: url(../img/huesitoSmaller.png);
    animation:getHuesito 2s linear;
}

@keyframes move {
    0% { left: 100% }
    100% { left: 0% }
}

@keyframes fly {
    0% { background-position:0 }
    100% { background-position:-332px }
}

@keyframes getHuesito {
    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}