#juego{
    margin: 0;
    width: 1920px;
    height: 1080px;
}

.lapida {
    width:50px;
    height:63px;
    margin:0;  
    position:absolute;
    top: 440px;
    background: url(../img/lapida.png) repeat-x;
    animation: move 7s infinite linear;
}

.raven {
    width:82px;
    height:74px;
    margin:0;  
    position:absolute;
    top: 380px;
    background: url(../img/raven.png) repeat-x;
    animation: fly 1s steps(4) infinite, move 7s infinite linear; 
}

.huesito {
    width: 40px;
    height: 38px;
    margin:0;  
    position:absolute;
    top: 280px;
    background: url(../img/huesitoSmaller.png);
    animation:move 5s infinite linear;
}

.huesitoObtenido {
    width: 40px;
    height: 38px;
    margin:0;  
    position:absolute;
    top: 280px;
    left: 150px;
    background: url(../img/huesitoSmaller.png);
    animation:getHuesito 2s linear;
}

@keyframes move {
    0% { left: 100% }
    100% { left: 0% }
}

@keyframes fly {
    0% { background-position:0 }
    100% { background-position:-332px }
}

@keyframes getHuesito {
    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}