@keyframes scroll {
    0% { background-position: 0px;}
    100% { background-position: -1920px;}
}

.fondo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
    background-size: cover;
}

.fondo1 {
    background: url("../img/fondo/fondo_piso.png");
    animation: scroll 7s infinite linear;
}

.fondo2 {
    background: url("../img/fondo/fondo_yuyos.png");
    animation: scroll 7s infinite linear;
    z-index: -8;
}

.fondo3 {
    background: url("../img/fondo/fondo_arbol01.png");
    animation: scroll 25s infinite linear;
    z-index: -10;
}

.fondo4 {
    background: url("../img/fondo/fondo_arbol02.png");
    animation: scroll 25s infinite linear;
    z-index: -12;
}

.fondo5 {
    background: url("../img/fondo/fondo_arbol03.png");
    animation: scroll 25s infinite linear;
    z-index: -15;
}

.fondo6 {
    background: url("../img/fondo/fondo_estrellas.png");
    z-index: -18;
}

.fondo7 {
    background: url("../img/fondo/fondo_luna.png");
    z-index: -20;
}

#lapida {
    width:50px;
    height:63px;
    margin:0;  
    position:relative;
    top: 290px;
    left:500px;
    background: url(../img/lapida.png) repeat-x;
    animation: move 7s infinite linear;
}

#raven {
    width:82px;
    height:74px;
    margin:0;  
    position:relative;
    top: 430px;
    background: url(../img/raven.png) repeat-x;
    animation: fly 1s steps(4) infinite, move 7s infinite linear; 
}

#huesito {
    width: 40px;
    height: 38px;
    margin:0;  
    position:relative;
    top: 320px;
    background: url(../img/huesitoSmaller.png) repeat-x;
    animation:move 5s infinite linear;
}

/* Se le agrega un scroll al inicio */
@keyframes move {
    0% { left: 100% }
    100% { left: 0% }
}

@keyframes fly {
    0% { background-position:0 }
    100% { background-position:-332px }
}
