body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.total {
    width: 1400px;
    height: 700px;
}

.puntaje {
    font-family: arcade;
    font-size: 20px;
    color: white;
    text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
}

.puntaje-animation {
    animation: blink 1s steps(4, start) infinite;
}
   
/* #character {
    width:547px;
    height:481px;
    margin:auto;  
    position:relative;
    background: url(img/spritesheetsDIE.png) repeat-x;
    animation:walk 2s steps(8) infinite;
} */

/* @keyframes walk {
    0% { background-position:0 }
    100% { background-position:-4376px }
} */
/* tamaño normal / 6 */

.character {
    width:130px;
    height:120px;
    margin:0;  
    position:relative;
    top: 375px;
    left: 100px;
    background: url(../img/personaje/spritesheetsIDLEsmaller.png) repeat-x;
    animation:run 1s steps(8) infinite;
}

.characterSaltando {
    width:130px;
    height:120px;
    margin:0;  
    position:relative;
    top: 375px;
    left: 100px;
    background: url(../img/personaje/spritesheetsJUMPsmaller.png) repeat-x;
    animation:jump 1s steps(8);
}

@keyframes run {
    0% { background-position:0 }
    100% { background-position:-1094px }
}

@keyframes jump {
    0% { 
        top: 375px;
        background-position:0;
    }
    30% { top: 290px; }
    70% { top: 290px; }
    100% { 
        top: 375px; 
        background-position:-1094px;
    }
}

/*Estilo del div inicial*/
.inicio {
    margin: 2.5px;
    padding: 10px;
    width: 700px;
    height: 600px;
    opacity: 0.8;
    background-color: black;
    position: absolute;
    justify-content: center;
    left: 20%;
    z-index: 20;
}

.gameOver {
    margin: 200px;
    font-family: arcade;
    font-size: 100px;
    color: white;
    text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
    animation: blink 1s steps(4, start) infinite;
}

.juego {
    position: relative;
    z-index: 10;
}

.fuente {
    margin: 30px;
    color: white;
    visibility: visible;
    display: list-item;
    list-style: none;
    padding: 10px;
    font-family: arcade;
}

.fuente.footer {
    font-size: 10px;
}

.empezar {
    margin-left: 300px;
    background-color: black;
}

#reiniciar {
    display: none;
    visibility: hidden;
}

@font-face{
    font-family: arcade; 
    src: url(fuentes/PressStart2P.ttf);
}

@keyframes blink{
    to{ visibility: hidden; }
}