body {
    margin: 0;
    overflow: hidden;
    width: 1920px;
    height: 1080px;
}

@font-face{
    font-family: arcade; 
    src: url(fuentes/PressStart2P.ttf);
}

.puntaje {
    font-family: arcade;
    font-size: 20px;
    color: white;
    text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
}

.puntaje-animation {
    animation: blink 1s steps(4, start) infinite;
}

@keyframes blink{
    to{ visibility: hidden; }
}
   
/* #character {
    width:547px;
    height:481px;
    margin:auto;  
    position:relative;
    background: url(img/spritesheetsDIE.png) repeat-x;
    animation:walk 2s steps(8) infinite;
} */

/* @keyframes walk {
    0% { background-position:0 }
    100% { background-position:-4376px }
} */
/* tamaño normal / 6 */

.character {
    width:130px;
    height:120px;
    margin:0;  
    position:relative;
    top: 350px;
    left: 100px;
    background: url(../img/personaje/spritesheetsIDLEsmaller.png) repeat-x;
    animation:walk 1s steps(8) infinite;
}

@keyframes walk {
    0% { background-position:0 }
    100% { background-position:-1094px }
}

/* @keframe jump {
    0% { top: 350px }
    100% { top: 250px }
}

@keframe fall {
    0% { top: 250px }
    100% { top: 350px }
} */
/*Estilo del div inicial*/
.inicio {
    margin: 2.5px;
    padding: 10px;
    width: 700px;
    height: 600px;
    opacity: 0.8;
    background-color: black;
    position: absolute;
    justify-content: center;
    left: 20%;
    z-index: 20;
}

.juego {
    position: relative;
    z-index: 10;
}

.fuente {
    margin: 30px;
    color: white;
    visibility: visible;
    display: list-item;
    list-style: none;
    padding: 10px;
    font-family: arcade;
}

.empezar {
    margin-left: 300px;
    background-color: black;
}