.publiUno {
    margin-top: 10px;
}

.persona i {
    left: 155px;
}

.miPubli div i.save {
    left: 0;
    margin-right: 10px;
}

ul {
    list-style: none;
}

.miPubli div i.selected {
    color: white;
    background-color: #4C5990;
    padding: 5px;
    height: 30px;
    margin-right: 80px;
    left: 150px;
}

.moreEscondido {
    visibility: hidden;
    position: fixed;
    z-index: 1030;
    background-color: #4C5990;
    right: 7px;
    top: 190px;
    padding: 5px;
    color: white;
}

.moreEscondido ul li {
    padding-left: 5px;
}

.promo {
    font-style: italic;
}

.num {
    font-size: 22px;
    width: 55px;
    padding-right: 0px;
}

.ic4 {
    left: 185px;
}

.left {
    left: 125px;
}

.img {
    padding-left: 10px;
}