/*Estilo publicaciones*/
.main {
    color: #565151;
    height: 1450px;
}
/*Publicación nuestra height 340px margin-top 70px y padding 15px*/
.miPubli {
    margin-top: 70px;
    padding: 15px;
    background-color: white;
    height: 340px;
}
.img {
    width: auto;
    height: 160px;
}
/*Primer publicación*/
.publiUno {
    margin-top: 70px;
    padding: 15px;
    background-color: white;
    height: 470px;
}
/*Estilo de quien hace la publicación*/
.persona {
    width: auto;
    height: 60px;
    display: grid;
    grid-template-areas: "foto nombre more"
                         "foto tiempo more";
    justify-content: start;
}

.a{
    grid-area: foto;
}
.b{
    grid-area: nombre;
}
.c{
    grid-area: tiempo;
}
.d{
    grid-area: more;
    position: relative;
    width: 10px;
    left: 125px;
    top: 10px;
    font-size: 25px;
}
.left{
    left: 165px;
}

.escrito {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*Estilo del carrousel*/
.carrousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    color: #565151;
    border: none;
    background-color: white;
}
.no-visible{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.img1 {
    width: auto;
    height: 160px;
    padding-right: 0px;
}

.img2 {   
    width: 0px;
    height: 160px;
    padding-right: 0px;
}

.img3 {
    width: 0px;
    height: 160px;
    padding-right: 0px;
}
/*Estilo de los iconos*/
.iconos {
    width: auto;
    height: 30px;
    display: grid;
    grid-template-areas: "like coment share save";
    justify-content: start;
    margin-bottom: 5px;
}

.ic1{
    grid-area: like;
    padding-right: 20px;
    font-size: 25px;
}
.ic2{
    grid-area: coment;
    padding-right: 20px;
    font-size: 25px;
}
.ic3{
    grid-area: share;
    font-size: 25px;
}
.ic4{
    grid-area: save;
    position: relative;
    width: 10px;
    left: 190px;
    top: 0px;
    font-size: 25px;
}
/*Estilo comentarios ocultos*/
.ocultos {
    width: auto;
    height: 0px;
    display: grid;
    grid-template-areas: "foto nombre"
                         "foto comentario"
                         "foto2 nombre2"
                         "foto2 comentario2"
                         "foto3 nombre3"
                         "foto3 comentario3";
    justify-content: start;
}

.h{
    grid-area: foto2;
    width: 30px;
    height: 30px;
}
.i{
    grid-area: nombre2;
}
.j{
    grid-area: comentario2;
    font-size: 14px;
}
.k{
    grid-area: foto3;
    width: 30px;
    height: 30px;
}
.l{
    grid-area: nombre3;
}
.m{
    grid-area: comentario3;
    font-size: 14px;
}
/*Estilo de los comentarios y comentar*/
.ver {
    font-size: 14px;
}

.comentarios {
    width: auto;
    height: 44px;
    display: grid;
    grid-template-areas: "foto nombre"
                         "foto comentario";
    justify-content: start;
}

.e{
    grid-area: foto;
    width: 30px;
    height: 30px;
}
.f{
    grid-area: nombre;
}
.g{
    grid-area: comentario;
    font-size: 14px;
}

.coment {
    height: 0px;
}

.inputComentar {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    border: none;
    width: 255px;
    height: 30px;
}

.comentar {
    width: 65px;
    height: 30px;
    border: none;
    background: #7884B9;
    border-radius: 12px;
    margin-left: 5px;
    color: white;
}
/*Estilo segunda publicación*/
.publiDos {
    margin-top: 10px;
    padding: 15px;
    background-color: white;
    height: 300px;
}
/*Estilo amplia tu red*/
.recomendaciones {
    margin-top: 10px;
    padding: 15px;
    background-color: white;
    height: 100px;
}

.ampliar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 0px;
}
/*Estilo de la publicidad*/
.publicidad {
    margin-top: 10px;
    padding: 15px;
    background-color: white;
    height:280px;
}

.publicidad p {
    font-style: italic;
    padding-top: 7px;
}

.imgPubli {
    width: auto;
    height: 235px;
}