/*General*/
body{
    background-color: white;
}

.armarPublicacion {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    color: #565151;
}
/*Estilo arriba*/
.crear { 
    padding-left: 15px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 40px;
    border-bottom: 1.5px solid #56515183;
}
/*Estilo del centro*/
.persona {
    margin-top: 15px;
    width: auto;
    height: 330px;
    display: grid;
    grid-template-areas: "foto nombre"
                         "foto cargo"
                         "escribir escribir";
    justify-content: start;
    border-bottom: 1.5px solid #56515183;
}

.a{
    grid-area: foto;
}
.b{
    grid-area: nombre;
}
.c{
    grid-area: cargo;
}
.d{
    margin-top: 20px;
    grid-area: escribir;
    height: 270px;
}
/*Estilo parte de abajo*/
.agregar{
    margin: 15px;
    display: grid;
    grid-template-areas: "camera video calendar boton"
                         "file poll clip boton";
}

.e{
    grid-area: camera;
    padding-bottom: 15px;
}
.f{
    grid-area: video;
    padding-bottom: 15px;
}
.g{
    grid-area: calendar;
    padding-bottom: 15px;
}
.h{
    grid-area: file;
}
.i{
    grid-area: poll;
}
.j{
    grid-area: clip;
}

.btnPublicar{
    grid-area: boton;
    width: 90px;
    height: 30px;
    background: #79B978;
    border-radius: 14px;
    border: none;
    color: white;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 1px;
}